.post-containar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  .post-list {
    // width: 774px;
    width: 71.666667%;
    @include iPad {
      order: 2;
      width: 100%;
      margin-top: 48px;
      @include sp {
        max-width: 360px;
        margin: 48px auto 0;
      }
    }
    .post + .post {
      margin-top: 24px;
      @include sp {
        margin-top: 48px;
      }
    }
    .post {
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      transition: $ct;
      @include sp {
        width: calc(100% - (8px * 2));
        padding: 0 8px;
        margin: 0 auto;
      }
      &:hover {
        transform: translate(0%, calc(0% + 4px));
        a.post_link {
          z-index: 10;
          opacity: 0.95;
          color: var(--color_sub01);
          .thumb {
            img {
              width: 84%;
            }
          }
          .post-text {
            time.post-time {
              &::before {
                background-color: var(--color_sub01);
              }
            }
          }
        }
      }
      a.post_link {
        position: relative;
        z-index: 2;
        display: flex;
        width: 100%;
        text-decoration: none;
        color: var(--color_font01);
        background-color: var(--color_font02);
        transition: 0.7s;
        filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0));
        -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0));
        @include sp {
          flex-wrap: wrap;
          padding-bottom: 24px;
          border-bottom: solid 2px var(--color_font01);
        }
        .thumb {
          // width: 280px;
          width: 36.175711%;
          @include iPad {
            width: 32%;
            @include sp {
              width: calc(100% + (8px * 2));
              margin: 0 -8px;
            }
          }
        }
        .post-text {
          z-index: 10;
          // parent 774px
          // width: calc(494px - (24px * 2));
          width: calc(63.824289% - (24px * 2));
          padding: 8px 24px;
          $padLeft: 18px;
          @include iPad {
            padding: 8px 0px 0 16px;
            @include sp {
              width: calc(100% - (0px * 2));
              padding: 16px 0px 0;
            }
          }
          time {
            font-size: 14px;
            letter-spacing: 2px;
            padding: 0 0 0 $padLeft;
            @include sp {
              font-size: 16px;
            }
            &::before {
              width: 14px;
              height: 14px;
              margin: 0px 4px 0 0;
              transition: $ct;
            }
          }
          h2 {
            font-size: 18px;
            font-weight: 700;
            line-height: 1.5;
            margin: 8px 0 0 0;
            padding: 0 0 0 $padLeft;
            @include sp {
              // font-size: 16px;
              width: calc(100% - (0px * 2));
              margin: 8px 0 0 0;
              padding: 0;
            }
          }
          .post_tags {
            font-size: 12px;
            border-radius: 7px;
            margin: 12px 0 0 8px;
            padding: 7px 12px 8px;
            &:first-of-type {
              margin-left: $padLeft;
              @include sp {
                margin-left: 0;
              }
            }
          }
        }
        &:hover {
          .thumb {
            background-color: var(--color_sub02);
            img {
              width: 80%;
            }
          }
        }
      }
    }
  }
  .postSelect-wrapper {
    display: inline-block;
    // width: 282px;
    width: 26.111111%;
    @include iPad {
      order: 1;
      // max-width: 680px;
      width: 100%;
      margin: 0 auto;
      // margin: 0 16px 0;
    }
    .postSelect-list {
      position: sticky;
      top: 48px;
      @include iPad {
        text-align: center;
      }
      .postSelect-item + .list-title {
        margin: 32px 0 0 0;
      }
      .list-title + .postSelect-item {
        margin-top: 16px;
      }
      .postSelect {
        position: relative;
        border: solid #{$bw} var(--color_sub01);
        border-radius: 8px;
        width: calc(100% - (2px * 2));
        select {
          cursor: pointer;
          text-indent: 0.01px;
          text-overflow: ellipsis;
          font-size: 16px;
          font-weight: 500;
          color: var(--color_sub01);
          padding: 8px 16px;
          width: 100%;
          border: none;
          outline: none;
          background: transparent;
          background-image: none;
          box-shadow: none;
          -webkit-appearance: none;
          appearance: none;
        }
        select::-ms-expand {
          display: none;
        }
        &::before {
          content: "";
          position: absolute;
          transform: translate(0, -50%);
          top: 50%;
          right: 16px;
          width: 0;
          height: 0;
          padding: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 8px solid var(--color_sub01);
          pointer-events: none;
        }
      }
      .list-title + .postTag-list {
        margin-top: calc(16px - 12px);
        @include iPad {
          margin: 0;
        }
      }
      .postTag-list {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + 8px);
        margin-left: -8px;
        margin: -12px 0 0 -8px;
        padding: 0;
        @include iPad {
          justify-content: center;
          @include sp {
            width: 100%;
          }
        }

        .post_tags {
          cursor: pointer;
          margin: 12px 0 0 8px;
          padding: 6px 12px;
          @include sp {
            margin: 6px 0 0 4px;
            &:first-child {
              margin-left: 0;
            }
          }
          &.active {
            cursor: default;
            pointer-events: none;
            position: relative;
            font-weight: 700;
            color: var(--color_font02);
            color: var(--color_font02);
            // color: #fefefe;
            background-color: var(--color_sub02);
            background-color: var(--color_sub01);
            // border-color: var(--color_sub02);
            &:hover {
              opacity: unset;
            }
          }
        }
      }
    }
  }
}
