.page-title {
}

.post + .post {
  margin-top: 24px;
}

.post {
  a.post_link {
    z-index: 10;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: var(--color_font01);
    // border: solid 1px var(--color_font01);
    background-color: var(--color_font02);
    transition: $ct;
    &:hover {
      opacity: 0.9;
    }
  }
}
