:root {
  --color_font01: #3e3e3e;
  --color_font02: #fefefe;
  --color_font03: #cccccc;
  --color_sub01: #578ea3;
  --color_sub02: #ff427f;
  --color_sub03: #fcee21;
}

$bw: 1px;
$bwb: 2px;
$ct: 0.3s;

// PC
$pc: 481px;
@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}
// iPad Pro
$iPadPro: 1080px;
@mixin iPadPro {
  @media (max-width: ($iPad)) {
    @content;
  }
}
// iPad
$iPad: 770px;
@mixin iPad {
  @media (max-width: ($iPad)) {
    @content;
  }
}
// スマホ
$sp: 480px;
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
// sp-x
@mixin sp-x {
  @media (max-width: 375px) and (min-height: 812px) {
    @content;
  }
}
// sp-se/SE
@mixin sp-se {
  @media (max-width: 320px) and (max-height: 568px) {
    @content;
  }
}

@mixin overlay($rgb: #3e3e3e, $a: 1) {
  content: "";
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: $rgb, $alpha: $a);
}

@mixin before() {
  position: relative;
  &::before {
    content: "";
    display: block;
    @content;
  }
}

@mixin after() {
  position: relative;
  &::after {
    content: "";
    display: block;
    @content;
  }
}

@mixin beforeAbsolute($t: 0, $l: 0, $transX: 0, $transY: 0) {
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    transform: translate($transX, $transY);
    top: $t;
    left: $l;
    @content;
  }
}

@mixin beforeAspect($pt: 56.25%) {
  position: relative;
  &::before {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    padding-top: $pt;
  }
}

@mixin beforeCont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin beforeContCenter($w: 100%, $h: 100%) {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: $w;
  height: $h;
}

@mixin text-truncate(
  $font-size,
  $font-weight,
  $line-height,
  $letter-spacing,
  $line,
  $bg
) {
  position: relative;
  max-height: $font-size * $line-height * $line + px;
  font-size: $font-size + px;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing + px;
  word-break: break-all;
  overflow: hidden;
  transition: $ct;
  &::before,
  &::after {
    position: absolute;
    background: $bg;
    transition: $ct;
  }
  &::before {
    content: "...";
    top: $font-size * $line-height * ($line - 1) + px;
    right: 0;
    width: $font-size + ($letter-spacing * 4) + px;
  }
  &::after {
    content: "";
    width: 100%;
    height: 100%;
  }
}

// margin top
._mt4 {
  margin-top: 4px !important;
}
._mt8 {
  margin-top: 8px !important;
}
._mt12 {
  margin-top: 12px !important;
}
._mt16 {
  margin-top: 16px !important;
  @include sp {
    margin-top: 12px !important;
  }
}
._mt20 {
  margin-top: 20px !important;
  @include sp {
    margin-top: 12px !important;
  }
}
._mt24 {
  margin-top: 24px !important;
  @include sp {
    margin-top: 16px !important;
  }
}
._mt32 {
  margin-top: 32px !important;
}
._mt40 {
  margin-top: 40px !important;
}
._mt48 {
  margin-top: 48px !important;
  @include sp {
    margin-top: 32px !important;
  }
}
._mt56 {
  margin-top: 56px !important;
  @include sp {
    margin-top: 40px !important;
  }
}
._mt64 {
  margin-top: 64px !important;
  @include sp {
    margin-top: 48px !important;
  }
}
._mt72 {
  margin-top: 72px !important;
  @include sp {
    margin-top: 64px !important;
  }
}
._mt80 {
  margin-top: 80px !important;
  @include sp {
    margin-top: 64px !important;
  }
}
._mt88 {
  margin-top: 88px !important;
}
._mt92 {
  margin-top: 92px !important;
}
._mt96 {
  margin-top: 96px !important;
}
._mt112 {
  margin-top: 112px !important;
}
._mt120 {
  margin-top: 120px !important;
  @include iPad {
    margin-top: 80px !important;
    @include sp {
      margin-top: 56px !important;
    }
  }
}
._mt144 {
  margin-top: 144px !important;
}
._mt160 {
  margin-top: 160px !important;
}
._mt200 {
  margin-top: 200px !important;
}
._mt240 {
  margin-top: 240px !important;
}

// margin bottom
._mb16 {
  margin-bottom: 16px !important;
  @include sp {
    margin-bottom: 12px !important;
  }
}
._mb24 {
  margin-bottom: 24px !important;
  @include sp {
    margin-bottom: 16px !important;
  }
}
._mb32 {
  margin-bottom: 32px !important;
  @include sp {
    margin-bottom: 24px !important;
  }
}
._mb48 {
  margin-bottom: 48px !important;
  @include sp {
    margin-bottom: 32px !important;
  }
}
._mb56 {
  margin-bottom: 56px !important;
  @include sp {
    margin-bottom: 40px !important;
  }
}
._mb64 {
  margin-bottom: 64px !important;
  @include sp {
    margin-bottom: 48px !important;
  }
}
._mb80 {
  margin-bottom: 80px !important;
  @include sp {
    margin-bottom: 64px !important;
  }
}
