.page-title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: var(--color_font01);
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.05));
  -webkit-filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.05));
  @include sp {
    // text-align: left;
    font-size: 24px;
    margin-top: 48px;
  }

  ._ja,
  ._en {
    display: block;
  }

  ._ja {
    letter-spacing: 2px;
    @include sp {
      letter-spacing: 1.5px;
    }

    ._big {
      font-size: 32px;
      @include sp {
        font-size: 28px;
      }
    }

    ._medium {
      font-size: 24px;
      @include sp {
        font-size: 22px;
      }
    }

    ._small {
      font-size: 20px;
      @include sp {
        font-size: 18px;
      }
    }
  }

  ._en {
    // color: var(--color_sub03);
    // color: var(--color_font01);
    margin-top: 12px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 3.2px;
    @include sp {
      // display: none;
      letter-spacing: 2.4px;
      margin-top: 8px;
    }
  }
}
