.post_tags {
  pointer-events: none;
  display: inline-block;
  color: var(--color_sub01);
  border: solid #{$bw} var(--color_sub01);
  border-radius: 8px;
  margin: 8px 8px 0 0;
  padding: 8px 16px 6px;
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s;
  @include iPad {
    font-size: 14px;
    margin: 8px 8px 0 0;
    padding: 6px 12px 4px;
  }
  &[href] {
    pointer-events: inherit;
    &:hover {
      opacity: 0.7;
    }
    &:active {
      color: var(--color_sub02);
      border-color: var(--color_sub02);
    }
  }
  &.-ended {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color_sub01);
    background-color: var(--color_sub03);
    border-color: var(--color_sub01);
  }
}
