.thumb {
  position: relative;
  display: block;
  overflow: hidden;
  background-color: var(--color_sub01);
  transition: $ct;

  &::before {
    content: "";
    display: block;
    width: 100%;
    //280 * 178になるよう調整
    padding-top: 63.571429%;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 84%;
    transition: 0.7s;
  }
}
